.switch {
    position: absolute;
    display: inline-block;
    width: 60px;
    height: 34px;
    top: 10px;
}

#switch-div {
    position: absolute;
    z-index: 403;
    margin-left: 30px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked+.slider {
    background-color: #2196F3;
}

input:focus+.slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked+.slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

#map {
    position: relative;
    height: 700px;
}


/* ====side navigation====== */

#side-nav-span{
    position: absolute;
    z-index: 401;
    right: 0;
    margin-top: 30;
    background-color: rgba(255, 255, 255, 50%);
    border-color: #111;
    color: black;
}
.sidenav {
    height: 750px;
    width: 0;
    position: fixed;
    top: 95px;
    right: 0;
    background-color: white;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    z-index: 402;
}

#text-p{
    position: relative;
    bottom: 30px;
    top: 10px;
    padding: 8px 0px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #0078A8;
    display: block;
    transition: 0.3s;
}
#text-p:hover {
    color: #f1f1f1;
}

#text-nav-menu {
    position: absolute;
    bottom: 30px;
    top: 10px;
    padding: 8px 0px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #0078A8;
    display: block;
    transition: 0.3s;
}

#text-nav-menu:hover {
    color: #f1f1f1;
}
.sidenav a{
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: black;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }

    .sidenav a {
        font-size: 18px;
    }
}